@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto');

@font-face {
  font-family: "Avenir Next Bold";
  src: font-url("./assets/fonts/AvenirNext-Bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next Regular";
  src: font-url("./assets/fonts/AvenirNext-Regular.woff") format("woff");
}

$pale-yellow: #FFF9C4;
$pale-blue: #f6f9fc;
$blue: #3700FF;
$black: #040507;
$column-width: 480px;
$gutter-width: 10px;

h1 {
  font-family: "Avenir Next Bold", sans-serif !important;
  font-size: 2em;
  color: $black;
}

h3 {
  font-family: "Avenir Next Regular", sans-serif !important;
  color: $black;
}

h4 {
  font-family: "Avenir Next Bold", sans-serif !important;
  margin: 0;
}

p {
  font-family: "Avenir Next Regular", sans-serif !important;
  font-size: 0.9em;
  color: $black;
  margin: 0;
}

a {
  color: #040507;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.github-top {
  h3 {
    font-family: "Avenir Next Regular", sans-serif;
    font-size: 0.7em;
    text-align: right;
    padding: 10px 20px 0px 20px;
  }
}



.cul {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}

// ### EMISSIONS ### ///

.emissions-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 10px;
  width: 75%;
  margin: auto;
}

.party-container {
  padding: 20px 0;
  border-bottom: 1px solid #dee3e6;
  min-width: 75vw;
  cursor: pointer;
  h4 {
    font-family: "Avenir Next Bold", sans-serif;
  }
  h4:hover {
    text-decoration: underline wavy;
  }
  .emission-description {
    font-family: "Avenir Next Regular", sans-serif;
    // font-weight: 300;
    font-size: 0.9em;
    white-space: pre-line;
  }
}


// ###### ///


////##### PLAYER #####/////
.react-player {
  margin-bottom: 10px;
  background: rgba($black, .1);
  display: none;

}

.section {
  display: inline-block;
  width: 65vw;  
  margin: $gutter-width;
  text-align: left;
  vertical-align: top;
}

.player-wrapper {
  width: 100%;
  height: 100%;
}

.party-player {
  position: fixed;
  bottom: 0;
  background-color: $pale-blue;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.party-btn {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-color: #FFF;
  border-color: #FFF;
  box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
  border-width: 0;
  cursor: pointer;
}

.party-btn:focus{
  outline: none;
}

/// ######## ////

.culcul > p, .culcul > h4{
  font-family: 'Open Sans', sans-serif !important;
}

.btn-cul-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.btn-cul {
  height: 60px;
  font-family: "Avenir Next Bold", sans-serif;
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $pale-blue;
}

.active-btn {
  background-color: $pale-yellow;
}

//
// .btn-cul:active, .btn-cul:hover {
//   border-bottom: 2px solid $black;
// }

.btn-cool{
  background-color: #3700FF;
  border-color: #3700FF;
  position: fixed;
  bottom: 2%;
  right: 5%;
  padding: 30px;
  a {
    color: #FFF !important;
    font-size: 2em;
    text-decoration: none;
  }
}

.btn-cool:hover {
  background-color: #ffe500;
  border-color: #ffe500;
}




progress {
  display: block; /* default: inline-block */
  width: 100%;
  border: 0 none;
  background: #979797;
  // position: fixed;
}

/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 15px;
  }
}
progress::-webkit-progress-bar {
    background: #979797;
}
progress::-webkit-progress-value {
  background: $blue;
}
